@{
  Layout = "_Layout"; 
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h2>Stylist Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

<ul>
@if (@Model.Clients.Count == 0)
{
  <p>No Clients found</p>
}

@foreach (Client client in @Model.Clients)
{
  <li>@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId }) | @client.Stylist.Name</li>
}
</ul>

<!-- show Evaluations like in index.cdhtml -->
 <h4>Evaluations:</h4>
@if (@Model.Evaluations.Count == 0)
{
  <h3>No evaluations have been added yet!</h3>
} 

<ul>
@foreach (Evaluation evaluation in Model.Evaluations)
{
  <li><h4>@evaluation.Rank</h4><p>@evaluation.Text</p></li>
} 
</ul>
<!-- <p>Add Evaluation</p>-->
<p>@Html.ActionLink("Add Evaluation", "Create", "Evaluations")</p> 

<p>@Html.ActionLink("Add a Client", "Create", "Clients")</p>
<p>@Html.ActionLink("Back to stylists", "Index")</p>
<p>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId})</p>