@{
  Layout = "_Layout";
}
@using HairSalon.Models;
@model HairSalon.Models.Client;

<h2>Client Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
<h3>@Html.DisplayNameFor(model => model.Mobile): @Html.DisplayFor(model => model.Mobile)<h3>

<!-- show reviews like in index.cdhtml -->
@* <h4>Reviews:</h4>
@if (@Model.Reviews.Count == 0)
{
  <h3>No reviews have been added yet!</h3>
} 

<ul>
@* @foreach (Review review in Model.Reviews)
{
  <li><h4>@review.Title</h4><p>@review.Text</p></li>
} 
</ul> *@
<!-- <p>Add review</p>-->
@* <p>@Html.ActionLink("Add review", "Create", "Reviews")</p> *@
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Delete Client", "Delete", new { id = Model.ClientId })</p>