@{
  Layout = "_Layout";
}

@model HairSalon.Models.Evaluation
<h4>Add an Evaluation</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Rank)
  @Html.TextBoxFor(model => model.Rank)
  @Html.LabelFor(model => model.Text)
  @Html.TextAreaFor(model => model.Text)
  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")
  <input type="submit" value="Add new Review." />
}

<p>@Html.ActionLink("Show all reviews", "Details", "Stylists")</p>